<div class="container-main">
  <nav style="margin-bottom: 20px;" class="navbar navbar-expand-sm bg-light sticky-top">
    <span class="navbar-text">
        <span class="blue">sprotyv</span>.<span class="yellow">com</span>
    </span>
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">Новини</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/analytics">Аналітика</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/search">Пошук</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/registration">Реєстрація</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/authorization">Авторизація</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/profile">Особистий кабінет</a>
        </li>
      </ul>
    </div>
    <span class="navbar-brand">
      <img src="https://fex.net/show/032736588078/1325817954?1600w,0" height="50" class="d-inline-block align-top" alt="img">
    </span>
  </nav>
  <div class="row justify-content-center align-items-center">
    <div class="w-50 col-xs-10 col-xs-offset-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<hr>